body{
	margin: 0;
	padding: 0;
}

.logo{
	align-items: center;
	width: 30%;
	height: 40%;
	margin-left: 35%;
    border-bottom: 1px solid #8080801f;
}

.container{
	width: 900px;
	margin: auto;
	padding: 20px;
	
}

.text{

	text-align: center;
	color: #333;
	font-size: 50px;
}

.blue{
	color: #0000ff69;
}

.red{
	color:#ff00009c;
}

.green{
	color:#23bf5a
}

.yellow{
	color:#f4c329
}

.team{
	width: 70%;
	height:30%;
	margin: 15px 180px;
}

h1{
	
	font-size: 50px;
	width: 30%;
	margin: 40px 0;
}

p{
	font-family:Times New Roman;
}

.faltu{
	font-size: 70px;
	text-align: center;
	padding: 60px;
	background-color:#23bf5a
}
